<html>

<head>
    <meta charset="utf-8">
    <!-- build:css css/index1.css -->
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/csa.css">
    <!-- endbuild -->
    <!-- build:css css/index2.css -->
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/abc.css">
    <!-- endbuild -->
</head>

<body>
    <div>
        index.html111
    </div>
    <div id='scss'>
        scss
        <div>
            fdf123213a a a a
        </div>
        <p>fdsafdsa</p>
    </div>
    <!-- build:js js/index.js -->
    <script src='/js/index.js'></script>
    <script src='/js/test.js'></script>
    <!-- endbuild -->

</body>

</html>